@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
body {
    background: #dedede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
width: 200px;
cursor: pointer;
}

#container {
    position: sticky;
    position: -webkit-sticky;
    background-color: #09689E;
    transition: all 0.5s ease 0s;
    height: 12%;
    display: flex;
    align-items: center;
    top:0px;
     width:100%; 
}

nav {
    flex: 1;
    text-align: right;
    float: right;
}
nav {
    margin: 50px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background-color: #09689E;
    text-align: left;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
}

nav a:hover {
    background-color: #002e5b;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    /* the height of the main nav */
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}


/* Second, Third and more Tiers */

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

​
/* Change this in order to change the Dropdown symbol */

li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

.menu-icon {
    width: 150px;
    cursor: pointer;
    margin-left: 50px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    height: 190px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url("images/school.jpg");
}

.car-2 {
    background-image: url("images/principal.jpg");
}

.car-3 {
    background-image: url("images/mission.jpg");
}

.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}